In [1]:
# Introduction to Python

# Fundamentals of Python
# (1). Data type
# (2). Variable
# (3). print() and input()

In [2]:
# (1). Data type
# (a). Integer ---> All positive or negative values .
# Ex. 34 , 67 , -12

# (b). Float  ---> All decimal values .
# Ex. 12.34 , 67.89

# (c). String  ---> '' , " " , ''' '''
# Ex.  'sam' , "sam" , '''sam'''

# (d). Boolean  ---> True , False

In [6]:
# type() ----> It will return data type of element .
type(45)
type(35.78)
type('sam')
type(5>4)

bool

In [7]:
# Variable ---> This is a container in which we can store or assign our values .

In [8]:
# (3). Input() -----> It will take query from users  and by default its output will be in
# string format .

In [9]:
a = 1
b = 2
c = a + b
print(c)

3

In [10]:
a = '1'
b = '2'
c = a + b
print(c)

12

In [11]:
a = input("Enter first number:")
b = input("Enter second number:")
c = a + b
print("Total=" , c)

Enter first number:1
Enter second number:2
Total= 12

In [12]:
# type-casting ----> Using this method , we can change or update data type .

In [14]:
a = '12'
int(a)
float(a)

12.0

In [15]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = a + b
print("Total=" , c)

Enter first number:1
Enter second number:2
Total= 3

In [16]:
a = input("Enter first number:")
b = input("Enter second number:")
c = int(a) + int(b)
print("Total=" , c)

Enter first number:1
Enter second number:2
Total= 3

In [17]:
# Mostly Used Operators in Python
# (1) Addition(+) ---> 2+3 = 5
# (2). Subtraction(-) ----> 5-2=3
# (3). Multiplication(*) ----> 2*5 = 10
# (4). Division(/) ---> 5.2 = 2.5
# (5). Floor Division(//) --> It will convert all the values in round figure . ---> 5//2 = 2
# (6). Module(%) ---> It is used for remainder calculation . ---> 25%10= 5(Remainder)
# (7). Equal to(=) ---> It is used for assign the values . a = 5
# (8). Equal Equal to(==) ---> It is used for comparioson of 2 values . ---> 'sam'=='raj' , 4==5
# (9). Not Equal to(!=) ---> 4!=5 , 'sam'!='mohit'
# (10).Greater than(>) ----> 5>4
# (11). Less than (<) ---> 4<8
# (12). Greater than or Equal to(>=) ---> 5>=5
# (13). Less than or Equal to(<=) ---> 4<=5

In [18]:
# Conditional Statement ---->
# if
# elif   <----->  User_query
# else

In [24]:
a = "sam"
if(a=="sam"):
  print("Yes")
elif(a=="raj"):
  print("No")
elif(a=="rohit"):
  print("ok")
else:
  print("Try Again...")

Yes

In [25]:
# Q.2 Create a program who will tell user is child , young , old .

In [29]:
a = int(input("Enter number:"))
if(0<=a<=20):
  print("Child")
elif(21<=a<=50):
  print("Young")
elif(51<=a<=80):
  print("Old")
else:
  print("Please enter a valid age....")

Enter number:78
Old

In [35]:
# Nested Condtional Statement ---->
print("Pizza:100" , "burgur:50")
a = input("Enter you item:")
if(a =="Pizza"):
  print("Your yummy item is Pizza")
  b = int(input("Enter your quantity:"))
  c = b*100
  if(c>1000):
    print("Your 10% discounted price is :" , c*0.9)
  else:
    print("Your total payment is :" ,b*100)

elif(a== "burgur"):
  print("Yoour yummy item is burgur")
else:
  print("Select a valid Menu....")

Pizza:100 burgur:50
Enter you item:Pizza
Your yummy item is pizza
Enter your quantity:5
Your total payment is : 500

In [33]:
a = 100
b = a*0.9
b

90.0

In [ ]:
# Councelling system ---> usser course(python, java , js) ---> course ---> fees , time duration .