In [4]:
#for i in range(5,1,-1)
i=5
while(i>0):
  print(i)
  i-=1

5
4
3
2
1

In [ ]:
#get the count and sum of number which are even in the range(1 ta 300)
#using while

In [42]:
i=10
while(i<0):
  print(i)
  i+=1
  print()

In [16]:
i=1
total=0
while(i<=300):
  if(i%2==0):
    total +=i
  i+=1j
print("total", total)
i+=1
print("total", total)

total 22650
total 22650

In [13]:
x=168
while(x!=0):
  remainder=x%10
  x=x//10
  print(remainder, x)

8 16
6 1
1 0

In [39]:
x=153
dup=x
while(x!=0):
  remaindre=x%10
  x=x//10
  total=total+remainder**3

print(total,dup)
#153=>1**3+5**3+3***3

15 153

In [45]:
x=153
dup=x
total=0
while(x!=0):
  remainder=x%10
  x=x//10
  total=total+remainder**3


print(total,dup)

153 153

In [47]:
x=1478
dup=x
total=0
while(x!=0):
  remainder=x%10
  x=x//10
  total=total+remainder**4


print(total,dup)

6754 1478