In [20]:
#Q5
for i in range(4,0,-1):
  x=68
  for j in range (i,0,-1):
    print(chr(x),end=" " )
    x-=1
  print("")

D C B A
D C B
D C
D

In [27]:
for i in range(1,5):
  x=65
  for j in range (1,i+1):
    print (chr(x), end="")
    x+=1
  print("")

A
AB
ABC
ABCD

In [28]:
x = 70
for i in range(1,5):

  for j in range(1,i+1):
     print(chr(x) , end = " ")
     x = x+2
  print(" ")

F
H J
L N P
R T V X

In [29]:
for i in range(1,6):

  for j in range(1,i+1):
    if j%2!=0:
      print(1, end=" ")
    else:
      print(2, end=" ")
  print(" ")

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [30]:
x = 10
for i in range(1,4):

  for j in range(1,i+1):
    print(x,end=" ")
    x+=1
  print(" ")

10
11 12
13 14 15

In [31]:
for i in range (1,5):
  x = 65
  for j in range(1,i+1):
    print(chr(x) , end= " ")
    x+=1
  print(" ")

A
A B
A B C
A B C D

In [32]:
for i in range(4 , 0,-1):
  for s in range(4-i,0,-1):
    print(" ",end = " ")
  for j in range(i,0,-1):

    print("*",end= " ")
  print(" ")

* * * *
  * * *
    * *
      *

In [33]:
for i in range(1,5):
  a = 10
  for j in range(1,i+1):
    print((a), end=" ")
    a = a+1
  print(" ")

10
10 11
10 11 12
10 11 12 13

In [34]:
for i in range(1,5):

  for j in range(4,i-1,-1):
    print("* ", end = " ")
  print(" ")

*  *  *  *
*  *  *
*  *
*