In [2]:
myAdhar ={10:"yash" ,11:"happy"}
print(myAdhar [10])

yash

In [6]:
myAdhar ={10:"yash" ,11:"happy"}
print(myAdhar [10])

myAdhar[10]="sad"
myAdhar[19]="kajal"
print(myAdhar)

yash
{10: 'sad', 11: 'happy', 19: 'kajal'}

In [10]:
myAdhar ={10:"yash" ,11:"happy", "salary":80000}
print(myAdhar ["salary"] )

80000

In [11]:
myAdhar ={10:"yash" ,11:"happy", "salary":80000}
print(myAdhar)

{10: 'yash', 11: 'happy', 'salary': 80000}

In [13]:
myAdhar ={10:"yash" ,11:"happy", "salary":80000}
myAdhar . pop(11)
print(myAdhar)

{10: 'yash', 'salary': 80000}

In [20]:
myAdhar ={"salary":80000}
myAdhar ["salary"] = myAdhar ["salary"] +1000
print(myAdhar)

{'salary': 81000}

In [21]:
myAdhar ={"salary":80000}
myAdhar ["salary"] = myAdhar ["salary"] -1000
print(myAdhar)

{'salary': 79000}

In [28]:
myAdhar={"total":0}
for i in range (1,19):
 myAdhar["total"] = myAdhar["total"] +1
print(myAdhar)

{'total': 18}

In [33]:
a={}
i=0
while i<10:
 a[i]=i+i
 i=i+1
a.pop(1)
print(a)

{0: 0, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [34]:
data="tushar"
mydict={"count":0}
for i in data:
  print(i)
  mydict["count"] +=1

t
u
s
h
a
r

In [35]:
a ="abcdefghik"
dict ={"total":10}
count=0
for i in a:
  if(i== "a" or i=="e" or i=="i" or i=="o" or i=="u"):
    count+=1
dict["total"]=count
print(dict)

{'total': 3}

In [37]:
data={}
for i in range(0,6):
  data[i]=i*i
print(data)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [39]:
s ="adefghi"
dict ={"total":7}
count=0
for i in a:
  if(i== "a" or i=="e" or i=="i" or i=="o" or i=="u"):
    count+=1
dict["total"]=count
print(dict)

{'total': 3}

In [47]:
s ="adefghi"
dict={}
for i in s:
 if(i in "aeiou"):
  dict[i] =1
print(dict)

{'a': 1, 'e': 1, 'i': 1}